---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <!--  
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>!</p> 
  -->

  <Social platform="github" username="mahmut-a"/>
  <Social platform="codepen" subdomain="io" username="Odumam"/>
</footer>