---
const {platform , username , subdomain} = Astro.props;
---

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
</style>

<a href={`https://${platform}.${subdomain || 'com'}/${username}`} target="_blank">{platform}</a>